<!DOCTYPE html>
<html>

  <head>
    <title>Saved Articles</title>
  </head>

  <body>
    <h1>Saved Articles :</h1>

    <ul>
      <% @articles.each do |article| %>
        <li><%= article['title'] %>, <%= article['description'] %>, <a href="<%= article['url'] %>" target="_blank"><%= article['url'] %></a></li>
      <% end %>
    </ul>
  </body>
</html>
